@using EntityLayer.Entities
@model List<Product>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 style="margin-top:10px">Məhsular</h1>
<table class="table table-bordered">
	<tr>
		<th>Məhsul</th>
		<th>Kateqoriyası</th>
		<th>Köhnə qiyməti</th>
		<th>Yeni qiyməti</th>
		<th>Şəkil</th>
		<th>Əməliyyatlar</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Name</td>
			<td>@item.CategoryId</td>
			<td>@item.OldPrice</td>
			<td>@item.NewPrice</td>
			<td>
				<img src="@item.PictureUrl" style="height:100px; width:100px"/>
			</td>
			<td>
				<a href="/Admin/Product/DeleteProduct/@item.Id" class="btn btn-danger">Sil</a>
				<a href="/Admin/Product/GetProduct/@item.Id" class="btn btn-success">Güncəllə</a>
			</td>
		</tr>
	}
</table>
<a href="/Admin/Product/NewProduct" class="btn btn-primary">Yeni məhsul əlavə et</a>
